<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand mb-0" href="#">{{appName}}</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active" *ngFor="let item of navItems">
            <a class="nav-link" href="{{item.link}}">{{item.text}} <span class="sr-only">(current)</span></a>
        </li>
        <!--<li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>-->
    </ul>

    <!--Right side
  <form class="form-inline float-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>-->
</nav>